[2017-01-09 19:54] jhartwell opened #3 "Add primary key support"
Check the tables for a primary key and if it exists we need to put the primary key attribute on the schema and then remove that field from the body of the schema. If we don't remove the primary key field from the body of the schema we will get errors.

[2017-01-09 19:55] jhartwell opened #4 "Add foreign key support"
We need to be able to find the foreign keys and make the belongs_to association. It is undecided what we should do for the referenced table as it could be has_one or has_many and it is something we may not be able to deduce from the table

[2017-01-09 20:00] jhartwell opened #5 "Add Postgres Support"
Currently only MySql is supported and we need to expand that.  We should use the ODBC drivers so we can easily resuse code as well as just needed the same type of driver for each database

[2017-01-09 20:01] jhartwell opened #6 "Add Sql Server support"
Add the ODBC connection for Sql Server so we can support another database

[2017-01-10 05:40] jackalcooper opened #7 "I got this when I run mix plasm"
[code]

[2017-01-10 13:10] renews commented on #7
Same here, my plasm.configs is right btw.

[2017-01-10 13:13] jhartwell commented on #7
do you have erlang installed? If so, which version?

[2017-01-10 13:17] renews commented on #7
@jhartwell Yes version 19.2(MacOS), and btw, i added `type: :mysql`  to the end of database list, so it does not show

Now it shows

`MySql database selected
** (UndefinedFunctionError) function :odbc.start/0 is undefined (module :odbc is not available)
    :odbc.start()
    lib/database/common.ex:4: Plasm.Database.Common.connect/1
    lib/plasm.ex:30: Mix.Tasks.Plasm.run/1
    (mix) lib/mix/task.

[2017-01-10 13:18] jhartwell commented on #7
Ok, I'll take a look now and let you know what I find

[2017-01-10 13:21] jhartwell commented on #7
It appears that you need to also install erlang-odbc module. I'm looking up the best way to do that and will post it here

[2017-01-10 13:22] jhartwell commented on #7
Real quick, did you compile erlang yourself or did you get pre-made binaries?

[2017-01-10 13:23] renews commented on #7
@jhartwell brew :)

[2017-01-10 13:30] jhartwell commented on #7
Looks like this is a known issue with brew (https://github.com/Homebrew/legacy-homebrew/issues/38845) is it possible to either try macports or compile from source?

[2017-01-10 13:40] jhartwell commented on #7
It appears that on OS X Erlang is hard coded to use iodbc. Do you have that installed? If not, could you please install it and try again?

[2017-01-14 10:22] jhartwell commented on #7
@renews @jackalcooper  still having this issue?

[2017-01-14 15:02] jackalcooper commented on #7
@jhartwell Sorry Jonathan I only know Elixir and I'm a lazy Mac user so I didn't try to do it last time because it seems to be something rather deep and complicated. But I have more time this weekend so I'm going to examine it for you. I will let you know the outcome later.

[2017-01-14 15:36] jackalcooper commented on #7
@jhartwell Here comes the new error:
[code]

[2017-01-14 21:46] jhartwell commented on #7
Do you have the MySql ODBC driver? What version of the driver are you using? 5.3 corresponds to the latest version of the MySql ODBC driver

[2017-01-16 00:37] luizvarela opened #8 "[CompileError] Typo with module names"
I started sketching some code to use PostgreSQL and if try to compile you'll get a compile error. That seems caused by the last commit.
https://github.com/jhartwell/Plsm/commit/ed70d2372fffc128b680bbb1cc17ecb144408b4b
[code]

[2017-01-16 17:10] jhartwell commented on #8
@luizvarela I will fix this today. I changed the name of the project to Plsm to differentiate from the other Elixir libraries of the same name. I have a commit to remove odbc use coming in today and that will fix it

[2017-01-16 17:13] jhartwell commented on #7
@jackalcooper I have a fix going in today that is going to remove dependency on odbc so this issue will be resolved.

[2017-01-16 17:34] luizvarela commented on #8
@jhartwell Great, I will wait for the changes.

[2017-01-16 17:55] jhartwell commented on #8
@luizvarela have you made any code changes yet? I have a fix that will change the way the program is coded but I don't want to make you re-write stuff so I can wait for your change to go in before I make my breaking changes if you've started

[2017-01-16 19:01] luizvarela commented on #8
Not yet, you can send your changes :)

[2017-01-17 03:04] jhartwell commented on #8
@luizvarela I have fixed the module name issue. If you decide to go the route of adding postgres support, I suggest you use a library instead of ODBC as I'm working on removing ODBC code. Also, note that the protocol for Database may change shortly

[2017-01-17 04:11] jhartwell commented on #8
@luizvarela MySql changes have been made and everything seems to be working. Feel free to add Postgres support!

[2017-01-17 04:11] #8 closed

[2017-01-17 04:33] jackalcooper commented on #7
@jhartwell Thanks Jonathan! It's working!

[2017-01-17 04:33] #7 closed

[2017-01-17 04:41] jackalcooper opened #10 "A little minor problem"
I got `** (Mix) The task "plsm.config" could not be found` and `** (Mix) The task "plsm" could not be found` when running the mix task in a sub directory rather than the root directory of my mix project. You said `The model files are generated in the folder that you are running from.` so I'm not sure it's a bug or I misunderstood.

[2017-01-17 04:42] jackalcooper commented on #10
If we can't run it in a sub directory, would it be better to specify a destination directory?

[2017-01-17 05:02] jhartwell commented on #10
@jackalcooper I added the ability to specify destination directory. It is the destination property on plasm.config. You will have to pull from the new branch add-destination-config as I don't want to put this into master until I know it works. It works on windows but not sure how other systems will be affected

[2017-01-17 05:03] jhartwell commented on #10
@jackalcooper  This is what your project config should look like if you want to add a destination

project = [
			name: "Plsm",
			destination: "C:\\Bk\\"
		  ]

[2017-01-17 05:30] jackalcooper commented on #10
@jhartwell Thanks!

[2017-01-17 05:30] #10 closed

[2017-01-17 15:37] luizvarela commented on #5
Postgrex can be used to implement the PostgreSQL support
https://github.com/elixir-ecto/postgrex
I will try to implement a start point.

[2017-01-17 15:42] jhartwell commented on #5
@luizvarela yes, postgrex is possible. When I made the ticket it was only ODBC, which would make it more difficult (to an extent). Hopefully my code is decent enough for a good starting point that you can understand

[2017-01-18 15:50] jhartwell opened #14 "Add changeset support"
Currently the models are not able to be updated in the database because of lack of changeset function on the model. This can be fixed with a generic changeset function that can be tweaked rather than relying on the user to create one from scratch

[2017-01-19 13:14] #14 closed

[2017-01-24 00:58] luizvarela opened #16 "Source code layout"
One thing that I noticed is the four spaces in the generated models, following the Elixir style guide, two spaces are preferred. Also, the lib code is using 4 spaces too.
I think we can start changing the Ecto models first and then the entire source code. What do you think?

https://github.com/christopheradams/elixir_style_guide#source-code-layout

[2017-01-24 18:37] jhartwell commented on #16
Good idea. It should be an easy fix for the models as there is a helper function that formats. Feel free to make the change if you want

[2017-01-25 08:04] jhartwell opened #17 "Change :utc_datetime to Ecto.DateTime"
While using models I have had a hard time actually being able to use the :utc_datetime fields in an Ecto query (such as a where query filtering on dates). In order to remedy this I have had to convert my :utc_datetime fields over to Ecto.DateTime. This is going to be added as a feature now

[2017-01-25 08:12] jhartwell opened #18 "Fix model output generated code to adhere to elixir best practices/standards"

[2017-01-25 08:12] jhartwell commented on #18
Checked into master

[2017-01-25 08:12] jhartwell commented on #16
The model changes have been checked in #18

[2017-01-25 08:15] jhartwell commented on #3
This has been completed for MySql

[2017-01-25 08:15] #3 closed

[2017-01-25 08:17] jhartwell opened #19 "Add primary key support to Postgres"
Currently the postgres implementation does not have primary key functionality. This should be added to coincide with the MySql changes

[2017-01-25 08:34] jhartwell commented on #17
This has been added

[2017-01-25 08:34] #17 closed

[2017-01-25 08:34] jhartwell commented on #16
Changes have been checked in to release 1.2 branch

[2017-01-25 08:34] #16 closed

[2017-01-25 08:34] jhartwell commented on #18
This has been checked in and completed

[2017-01-25 08:34] #18 closed

[2017-01-25 08:35] jhartwell commented on #5
@luizvarela has added this support into master.

[2017-01-25 08:35] #5 closed

[2017-01-25 09:40] luizvarela commented on #18
:tada:  very good

[2017-01-25 09:51] luizvarela commented on #19
Hey, jus to let you know, I already working on that.

[2017-01-25 11:12] jhartwell commented on #19
@luizvarela I know. I just wanted to make a ticket for it. Are you able to assign it to yourself?

[2017-01-25 11:17] luizvarela commented on #19
@jhartwell I not able to assign to me, I think I don't have permissions.

[2017-01-25 12:59] jhartwell commented on #19
@luizvarela I removed the help wanted. I'm unable to assign to you either but I don't believe there is anybody else working on this other than us

[2017-01-25 13:05] luizvarela commented on #19
It's assigned now, thanks :+1:

[2017-02-07 17:33] luizvarela commented on #19
Issue was already merged to master in https://github.com/jhartwell/Plsm/pull/22

[2017-02-07 17:33] #19 closed

[2017-02-21 21:04] jhartwell opened #23 "Allow for string to be sized based on column size"
If you have a varchar column that is more than 255 characters wide you will have issues when using the :string type for a field. This can be changed by using the size option but we need to pass that in

[2017-03-31 09:43] the-man-with-a-golden-mind opened #24 "no postgre config information"
Hi. I see in plsm code that there is case:
[code]
but I can't find any documentation about that. How I can use plsm for postgres ?
Add type: "postgres" or type: :postgres to Plsm.config wont work.

[2017-04-01 21:09] jhartwell commented on #24
@the-man-with-a-golden-mind I will take a look at this and let you know. I will also update the docs to make it clearer

[2017-04-02 20:31] the-man-with-a-golden-mind commented on #4
Sql is quite simple:
`SELECT DISTINCT
        a.attname as column_name,
        format_type(a.atttypid, a.atttypmod) as data_type,
        coalesce(i.indisprimary,false) as primary_key,
        f.references_table as foreign_table,
        f.references_field as foreigh_field,
        a.attnum as num
      FROM pg_attribute a
      JOIN pg_class pgc ON pgc.oid = a.attrelid
      left JOIN (
		SELECT

[2017-04-03 08:55] jhartwell commented on #4
@the-man-with-a-golden-mind when you say it takes some time, how much time? Remember, this should only be run once per project as any other changes could be done by hand after the initial model. While waiting sucks, a little delay to get correct information is ok with me.

Do you know that your query works on the last few versions of Postgre?

[2017-04-03 08:57] jhartwell commented on #24
@the-man-with-a-golden-mind when you say "it won't work" does it give you an error message or some other type of message? If so, could you please post it. If not, well that is a problem and there should be an error message and that would be another issue that needs opening.

[2017-04-03 09:04] jhartwell commented on #24
@the-man-with-a-golden-mind also, could you share your plsm.configs file? Please don't forget to scrub sensitive information before uploading

[2017-04-03 09:24] jhartwell opened #25 "Improve documentation"

[2017-04-03 09:31] jhartwell commented on #25
Merged README into master

[2017-04-03 09:31] #25 closed

[2017-04-03 09:33] jhartwell opened #27 "Database type not created in default config"
Currently the default config leaves the `type:` keyword out of the database section. This can cause confusion for those not using MySQL as there won't be a clear way to actually use Plsm with other database vendors

[2017-04-03 09:43] jhartwell commented on #27
Merged to master

[2017-04-03 09:43] #27 closed

[2017-04-12 08:53] joshuataylor commented on #24
It's because when setting the type to "postgres", in `plsm.ex` when checking that `configs.database[:type]` is either `:postgres` or `:mysql`, neither will work as it is a string, not an atom.

[code]

[2017-04-12 09:41] joshuataylor commented on #4
That query doesn't return anything for me on Postgres 9.6.

[2017-04-12 10:21] joshuataylor opened #31 "Don't add primary key for default id"
With ecto, if the primary key is `id`, we don't need this as id is default, so don't add `@primary_key {:id, :integer, []}`.

[2017-04-12 10:38] joshuataylor opened #32 "Allow :id, :created_at, :updated_at to be cast?"
What are your thoughts on allowing `:id, :created_at, :updated_at` to be cast, which means they can be changed? Generally I don't do this, as these fields should never be changed by the user, IMHO.

[2017-04-12 11:43] joshuataylor opened #34 "Missing fields for postgres"
The following are missing:

1. `numeric` -> `:decimal`
2.` jsonb` -> `:map`

[2017-04-12 12:26] jhartwell commented on #32
I think that those who would possibly need that feature could go in and hand code the changes after they generate the models using plsm. That is an uncommon usage and it is better to have to add than to remove. That way for those who want to get going right away can and those who want more fine grain control or go against the norm will be able to continue to do that with a bit of tweaking on the r

[2017-04-12 12:33] joshuataylor commented on #32
Or we could add a flag to the mix task to not have the columns be removed.

I was also thinking that if both `created_at` and `updated_at` existed, we could append `timestamps` to the schema as well.

[2017-04-12 12:39] jhartwell commented on #32
Sorry but I'm not following you on your first sentence. Are you referring to having the columns removed from the cast or from the entire schema?

If we were to replace created_at and updated_at with `timestamps` then it is imperative that we also check the column type for those two columns and only replace the pair if both columns are datetimes. There will be issues if they are just date fields an

[2017-04-12 12:45] joshuataylor commented on #32
Sorry, what I mean is that we could add an option to the mix task, so if the user wanted to keep the id/created_at/updated_at, they could do:
```mix plsm --generate-ids```
or something

I agree that we should check that the fields match though before removing it from the schema.

[2017-04-12 12:48] jhartwell commented on #32
Ah ok, that makes sense. Would it make more sense to keep the options in the config? That way it is self documenting (when the config is generated it will generate a field with whatever default we chose) and it re-running the process simple (no need to remember flags). Honestly, I'm not sure if it is a "good" practice to have these types of things in config files instead of command line flags but

[2017-04-12 15:35] joshuataylor commented on #32
Either way is fine, honestly I don't see the config file being committed to version control anyway, and the config file is nice because as the repo grows you can just dump it into the config file.

Or we could convert it into a proper config (that lives in config.exs (or dev.exs/whatever).

[2017-04-14 11:35] joshuataylor opened #36 "Could use config.exs (ie dev.exs) for the config instead of creating a config file?"
When using ecto, the application will require the following setup done anyway, for example in `dev.exs`:
[code]

As you can see, all the options for database config will already be set here, and if options aren't set (ie port), we could assume that they are the defaults. We could read these settings.

Alternatively, we could use the config.exs instead of creating a Plsm.configs, as this is the "st

[2017-04-14 15:29] jhartwell commented on #36
When I started this project I had about 2 weeks of Elixir experience (if that) so I definitely didn't do this the "elixir way". Moving this to a more proper "Elixir way" of doing things makes a lot of sense and can only help the project. That being said, it is going to be important to maintain backward compatbility with the old config files. Going forward there may not be any new changes to genera

[2017-04-17 07:51] joshuataylor commented on #36
Heh, well this project is awesome, my own implementation ages ago that I wrote as a hack imported from Postgres via functions, so this is really good :) (I've since lost this, thankfully :)).

Yeah, keeping both ways (when implemented) until some arbitrary point (as you said, 2.0 or whatever) is a great option.

[2017-04-17 07:53] #34 closed

[2017-04-17 08:39] joshuataylor commented on #4
Having a crack at this, as my current project will use this, and will save everyone a lot of time going forward.

The above query (thank you, by the way!) Adds about 600ms-800ms for me (on my outdated laptop), with about 30 tables, going from 0.7s to 1.4s. That's acceptable IMHO, as you said it's not run very often.

[2017-04-21 19:00] jhartwell commented on #36
Thanks, I'm glad you feel that way! I'll start moving to the config.exs file and away from the custom config file

[2017-04-21 19:00] jhartwell commented on #24
@the-man-with-a-golden-mind are you still having an issue with this?

[2017-04-28 12:16] jhartwell commented on #24
@the-man-with-a-golden-mind, since there has been no response I am going to close this ticket. Please re-open if this issue is still persisting.

[2017-04-28 12:16] #24 closed

[2017-05-24 00:12] richdrich opened #41 "In MySQL, tinyint(1) boolean fields are not mapped"
- Create a MySQL table with a bit field (e.g. rails boolean)
- Run plsm
- The bit field will be omitted

MySQL 5.6
PLSM 1.1.2
Mix/Elixir 1.4.2

[2017-05-24 02:37] jhartwell commented on #41
@richdrich TINYINT(1) cannot be mapped to a boolean field as it can have a value between 0 and 9. A TINYINT can be between -128 and 127 (according to https://dev.mysql.com/doc/refman/5.7/en/numeric-type-overview.html). TINYINT(1) will take the first digit of of the TINYINT, which .means it can be more than just 0 or 1. A Bit column can also be more than just one or zero and contain extra values (s

[2017-05-24 02:54] jhartwell commented on #41
@richdrich this has been added in version 1.1.3. Please update to that version in your mix.exs dependencies.

[2017-05-24 03:21] jhartwell commented on #41
@richdrich - I have just released version 2.0.0, please use that version instead of 1.1.3 as it contains other changes. Thanks!

[2017-05-24 22:14] richdrich commented on #41
Thanks for this and for making a great module!

My use case, BTW, is importing the schema for a fairly complex Rails database into Elixir so our microservice can see the application data. I've managed to do this with a bit of manual tweaking (the generated cast statement needed to change, but possibly this was my Elixir setup, so I haven't logged an issue on that yet).

What would be really nice w

[2017-05-25 12:20] jhartwell commented on #41
@richdrich Thanks for the use case. What do you mean by compensating for the data loss? Do you mean fields getting trimmed (e.g varchar(255) to varchar(200)?

[2017-05-25 20:44] richdrich commented on #41
Ah, no. I was thinking that Rails sees a field as e.g:
[code]
while in MySQL it's just:
```is_deferred_income` tinyint(1) DEFAULT '0'```

The boolean typedness gets lost (as you note above). But with Rails, we know that a tinyint(1) is always used to code a boolean and never an integer, so if I could configure:
```{ 'tinyint(1)', 'boolean' }``` then that would let me generate model files that woul

[2017-05-26 12:15] jhartwell commented on #41
@richdrich, alright, that makes sense. I'm a SQL Server guy so I'm used to using a bit as a boolean for database, what is the "standard" for boolean in MySQL? Is it tinyint(1) with a default value? Just tinyint(1)? I don't mind adding a flag on to do this but it definitely wouldn't be standard behavior.

[2017-05-27 18:53] tslater commented on #4
@joshuataylor do you have a fork I could try?

[2017-05-27 19:22] jhartwell commented on #4
@tslater the postgre foreign key code is in version 2.0 of Plsm. You can go ahead and pull it from Hex and use it

[2017-05-28 17:51] tslater commented on #4
@jhartwell That's good to know. I am actually wanting this for MySQL. I'm much more familiar with MySQL, so looking through the Postgresql query, with it's arrays, has been tough. Anyway, I thought I'd take a stab at a query for MySQL. As I got going on it, I realized the arrays are probably there because you can have multiple keys (ex. primary key and foreign key) on a column, but we're trying to

[2017-06-08 12:25] jhartwell commented on #36
This is in version 2.0.0

[2017-06-08 12:25] #36 closed

[2017-06-09 04:04] tslater commented on #4
I put this query in, with some success. There is a PR /\ with my progress so far.

[2017-09-06 12:25] jhartwell commented on #6
Closing this as it isn't a pressing issue and no longer have a Windows machine to test. This can be revisited if there is demand for it

[2017-09-06 12:25] #6 closed

[2017-09-21 12:23] #32 closed

[2017-09-21 12:23] jhartwell commented on #32
This won't be implemented as it can be done by the user if need be.

[2017-09-21 12:31] jhartwell opened #53 "Add tests to project"
Currently there are no tests and that is a problem as we are relying on contributors to set up their database and test. Now, connecting to a database is going to be difficult to test as well as the query but the output is easy to test using mocks.

[2017-09-21 12:58] #31 closed

[2017-09-21 12:58] jhartwell commented on #31
This has been merged in to develop

[2017-09-21 13:03] jhartwell commented on #23
This cannot be done with options like for the field function, like I originally thought. Will have to create an alter table migration (https://stackoverflow.com/a/42824296)

[2017-11-29 13:26] jhartwell commented on #23
This actually does not need to be done in alter table, we just need to use :text instead of :string when a varchar is greater than 255 characters

[2017-11-29 13:35] jhartwell commented on #23
This has been completed and will be in the next release

[2017-11-29 13:35] #23 closed

[2017-11-29 13:36] jhartwell opened #62 "Remove Ecto.DateTime from types"
We should use :naive_datetime instead of Ecto.DateTime

[2017-11-29 13:40] jhartwell commented on #62
This has been finished and merged into develop. This will be in the next release

[2017-11-29 13:40] #62 closed

[2017-11-29 13:41] #41 closed

[2017-11-29 14:16] jhartwell opened #64 "Add TravisCI to the build"

[2017-11-29 14:19] jhartwell commented on #64
Added to version 2.2.0

[2017-11-29 14:19] #64 closed

[2017-11-30 14:58] sqlasylum opened #68 "Receiving Argument Error message when trying to run mix PLSM"
I was attempting to use PLSM(master branch) this evening for a Elixir project I am working on.  I was trying to generate models from my PostgresDB but can't seem to get past this error message that PLSM is putting out.

 I've attached the output of it below.

 I added an       "  |> IO.inspect()" the line before the error so I could try and see what was failing. I've also added my config that I'm

[2017-12-01 13:18] jhartwell commented on #68
@sqlasylum What line did you put the IO.inspect and which file?

[2017-12-15 19:00] kwokster10 commented on #68
@jhartwell I am also seeing this error when running with Postgres:
[code]

[2017-12-15 19:07] jhartwell commented on #68
@kwokster10 I'm looking into this now and will provide an update when I have one.

[2017-12-15 19:36] jhartwell commented on #68
@kwokster10  @sqlasylum , I have pushed a fix to develop and have tested it on Postgres. I am in the process of testing now for MySQL and then I will push this update to master and hex.

[2017-12-15 19:50] jhartwell commented on #68
@sqlasylum @kwokster10  This has been fixed and is in hex. You can go ahead and pull down 2.2.1 from hex using {:plsm, "~> 2.2"} in your mix.exs deps function

[2017-12-15 19:50] #68 closed

[2017-12-15 19:52] kwokster10 commented on #68
@jhartwell Thank you for the quick turnaround. I will check it out now.

[2017-12-15 19:54] jhartwell opened #77 "Fix formatting of output"
Currently the output formatting has been changed so that it no longer lines up. This should be fixed so that we generate a file that follows best practices when it comes to spacing.

[2017-12-15 20:58] sqlasylum commented on #68
Thanks as well @jhartwell  I went another route but will pull down the fix and use this for a future project.

[2018-01-18 15:49] jhartwell opened #78 "Add documentation"
Currently there is little to no documentation in the code base, which is not good.

[2018-01-18 15:51] cdesch opened #80 "CamelCase Table Names are converted to Module Names with only the first letter capitalized"
Table names like `MyAwesomeTable` are converted to module names like `MyApp.MyNameSpace.Myawesometable` as Plsm assume that the table name must be snake case `my_awesome_table`. Plsm should convert these table names with CamelCase to module names with respective camel case like this. `MyApp.MyNameSpace.MyAwesomeTable`

I'll submit a PR

[2018-01-18 15:52] jhartwell commented on #80
@cdesch sounds good, I'll look out for the PR. Please make sure you are merging into develop

[2018-01-18 15:58] cdesch commented on #80
@jhartwell Okay. Pushing the changes into develop. I just pulled the latest `develop` into my merge.

[2018-01-18 16:02] cdesch opened #82 "Text Native Type for Ecto/Postgres"
Ecto does not have type `text`. It should be `string`

I'll make a PR for this.

[2018-01-18 16:13] jhartwell commented on #80
@cdesch , looks good, this has been merged into develop. Thanks!

[2018-01-18 16:13] #80 closed

[2018-01-18 16:14] jhartwell commented on #82
This has already been merged into develop

[2018-01-18 16:14] #82 closed

[2018-04-04 05:08] papakay opened #86 "Error while running mix plsm"
Please i encountered this error when i ran `mix plsm`

[code]

Please how can i get this to work? Thank you.

[2018-04-04 05:16] #86 closed

[2018-05-05 09:42] whossname commented on #78
The readme could also use some clarification. The things I noticed were:

1. It would read better if "Getting Plsm" was before "Running Plsm"
2. Make it clearer that generating the config file will append your existing config file instead of deleting it.
3. Give an example for the "destination" field. I have no idea where the models should actually go when generated.

[2018-05-05 09:43] whossname commented on #78
Thanks for this tool btw. I just figured out the "destination" thing and generated the models.

[2018-06-18 19:07] jhartwell commented on #78
README has been updated. There will be more documentation added along the way as well

[2019-03-04 10:01] codenoid opened #89 "they may contain sensitive data such as database credentials"
** (RuntimeError) Connect raised a ArgumentError error. The exception details are hidden, as
they may contain sensitive data such as database credentials.

    :erlang.binary_to_integer/1
    lib/mariaex/protocol.ex:160: Mariaex.Protocol.normalize_port/1
    (elixir) lib/keyword.ex:832: Keyword.update!/4
    (elixir) lib/keyword.ex:836: Keyword.update!/4
    lib/mariaex/protocol.ex:72: Mariaex.Pro

[2019-03-08 14:31] jhartwell commented on #89
@codenoid what does your config file look like. Please scrub the identifying data (host, username, password)

[2019-06-13 21:37] rokobasilisk opened #91 "Mariaex Version Upgrade"
Hi there, thanks for this great library. When I try use it in a new Phoenix project I get a dependency mismatch issue.

I was wondering if it would be possible to upgrade the Mariaex dependency to 0.9.1.
I am totally new to Phoenix and Elixir so happy to open a PR, but feel it might be safer if an experienced person updates it.

[2019-06-14 21:15] jhartwell commented on #91
I will update this in the next few days. I am add some testing changes as well so that I can be sure that this upgrade doesn't break anything,  which is why it will be longer than a quick fix

[2019-06-14 21:57] jhartwell commented on #91
@rokobasilisk I have updated the dependencies on mariaex and postgrex and checked them in. I will be adding testing before creating a new version on hex so in the meantime you can put the following in your deps

`{:plsm, github: "jhartwell/Plsm"}`

I will comment on this issue again once the new version has been pushed to hex

[2019-06-15 08:02] rokobasilisk commented on #91
@jhartwell huge thanks for this. Hopefully when I have a bit more experience in Elixir I will be able to contribute.

[2019-08-13 21:30] sashman commented on #91
Hey @rokobasilisk @jhartwell any update on this?

[2019-08-15 14:13] jhartwell commented on #91
@sashman sorry, I have been busy and haven't gotten much time to play with docker and automated DB testing. As stated above, you can reference the latest version by using

`{:plsm, github: "jhartwell/Plsm"}`

I will work on getting a new release out with this change today, though it won't be tested.

[2019-08-18 11:02] sashman commented on #91
awsome, thanks @jhartwell!

[2019-08-18 16:49] jhartwell commented on #91
@sashman @rokobasilisk a new version has been published to hex with this change.

[2019-08-18 16:49] #91 closed

[2019-08-26 09:26] sashman opened #93 "Fix cast call"
The generated schema file [creates](https://github.com/jhartwell/Plsm/blob/257145cc91b1d43c8c8e2b85974fb0299ad3c1bd/lib/io/export.ex#L91):

[code]

While the [current API](https://hexdocs.pm/ecto/Ecto.Schema.html#embeds_many/3-inline-embedded-schema) requires:

[code]

Also, an import is needed:

[code]

I can knock up a quick PR for this if you want?

[2019-08-28 19:27] sashman commented on #93
@jhartwell this is a breaking change introduced in Ecto 3 I think. PR coming up!

[2019-09-03 15:01] sashman commented on #93
@jhartwell any feedback on the PR?

[2019-09-05 14:27] jhartwell commented on #93
@sashman sorry about that, I have made a comment on the PR

[2019-10-08 15:24] #93 closed

[2019-10-08 15:30] sashman opened #95 "Primary keys, eg :id, clash with auto-generated Ecto primary keys"
This is a two-parter, in the first case by default every `:id` field clashes with the [autogenerated field](https://hexdocs.pm/ecto/Ecto.Schema.html#module-example). From docs:

I fixed this for my case by creating a local Schem module:

[code]

This turns the autogeneration off, in addition all of the generated schemas need to use `My.Schema`.

The second part is the primary keys that aren't call

[2019-10-08 15:31] sashman opened #96 ":text type should be :string"
The string fields are generated with `:text` type when `:string` should be used. I **think** this is related to Ecto 3 changes,

[2019-11-05 21:51] jhartwell commented on #95
@sashman I apologize for missing this issue. I will look into this

[2019-11-05 21:52] jhartwell commented on #89
Closing due to lack of response.

[2019-11-05 21:52] #89 closed

[2019-11-06 20:56] rugyoga opened #97 "Some minor nits with Phoenix 1.4.10 and Elixir 1.9"
I ended up writing the following post-processing script to fix them:

https://gist.github.com/rugyoga/1ab523d2d6988afb0bff77e649dbf66b

Two are the same issues as @sashman has reported.

[2019-11-06 23:56] jhartwell commented on #95
@sashman After thinking about it, I am going to change primary keys to be part of the field/3 instead of `@primary_key`. I believe that should fix both issues

[2019-11-07 00:02] jhartwell commented on #97
Thanks @rugyoga I think I may add some post processing tasks as well, such as singularizing modules

[2019-11-07 00:02] #97 closed

[2019-11-07 08:58] sashman commented on #95
No probs @jhartwell, and thanks for being awesome 👍

[2019-11-21 06:27] jhartwell commented on #96
@sashman sorry for the delay, this has been completed and will be released with version 2.4.0

[2019-11-21 06:27] #96 closed

[2019-12-07 08:55] jhartwell commented on #95
@sashman This has been merged to master

[2019-12-07 08:55] #95 closed

[2019-12-08 11:34] MathiasWedeken opened #100 "Phoenix 1.4, generated schemas contain wrong syntax"
When following the guidelines, the generated schemas contain field definitions with the :primary_key atom, like this:

`field :created_date, :naive_datetime, :primary_key false`

Which doesn't compile. What does compile is

`field :created_date, :naive_datetime,  primary_key: false`

Although I have no idea if that was the intended output- I have never seen schemas with `primary_key: false` on all

[2019-12-09 16:36] jhartwell commented on #100
@MathiasWedeken thanks for letting me know. I will look into this and make necessary changes

[2019-12-10 08:47] sashman commented on #53
@jhartwell I can give you a hand with this if you don't mind?

[2019-12-10 20:54] jhartwell commented on #100
@MathiasWedeken, @sashman has created a fix for this that has been merged in. You can use the following for in your mix.exs to pull in these changes:

`{:plsm, git: "https://github.com/jhartwell/plsm.git", branch: "master"}`

I have an update that will remove the primary_key field when the column is not a primary key coming up but @sashman's change will at least fix this temporarily

[2019-12-10 20:56] jhartwell opened #104 "Unique contraints cause duplicate fields when using postgres"
If you have a column that is a primary key and also has a unique constraint that column will be exported twice in the output. We don't need to worry about the unique constraint so it will need to be ignored

[2019-12-10 20:58] jhartwell commented on #53
@sashman knock yourself out. It would be nice to have several SQL files that will allow somebody to easily populate the database with the test data in order to run the test suite

[2019-12-10 21:00] jhartwell commented on #4
This has been partially implemented so this ticket will be closed. There may need to be two new tickets, one for MySQL and one from Postgres to make updates to the foreign key info but it would also be helpful to have test data to be able to easily test

[2019-12-10 21:00] #4 closed

[2019-12-10 21:00] #77 closed

[2019-12-10 21:05] jhartwell opened #105 "Prompt to create destination folder if it doesn't already exist"
It is a pain to have to manually create the destination folder if it doesn't already exist. The user should be prompted if the folder doesn't exist and asked if they want to create it.

[2020-01-15 08:57] sashman commented on #53
@jhartwell any thoughts on #107 ?

[2020-01-25 06:26] #100 closed

[2020-01-25 06:34] jhartwell commented on #53
@sashman , sorry for the delay. That PR looks good. Please rebase with master and open a non-draft PR. Thanks for your help!

[2020-05-23 21:36] dimitarvp opened #109 "Please support `myxql` for MySQL?"
Seeing as it is the _de facto_ library for MySQL in Phoenix for a while now, could you please migrate from `mariaex` to `myxql`?

[2020-06-12 19:14] jhartwell commented on #109
@dimitarvp sorry I missed this. I will look into this

[2020-11-14 10:52] DEvil0000 opened #110 "integer columns not created in schema"
was trying this with a maria DB.
all integer columns were not created in the schema modules.

also note that all foreign keys and primary keys did not get create properly but maybe only because they are integer based.

[2020-11-14 10:53] DEvil0000 opened #111 "migration file not generated"
when trying this on a maria DB there was no migration file generated which is maybe as important as the schemas.

[2020-11-14 10:57] DEvil0000 opened #112 "the generated config and the generated schemas had syntax issues or things missing"
when trying this I used it with maria DB.
the generated separate config file had the use line missing `use Mix.Config`.
the generated schema files messed up the primary_key option (which should be done differently anyway).
however it should be `primary_key: false` not `:primary_key false`

[2020-11-16 17:44] 9to1url commented on #112
Yes, I also encountered this issue.
Smallint column not generated in schema but does shows up on changeset.

[2020-11-27 23:36] jhartwell commented on #111
@DEvil000 plsm has not generated migration files in the past, only the schemas. I can look into adding migration files

[2020-11-27 23:36] #111 closed

[2020-11-28 01:34] jhartwell commented on #110
@DEvil0000 sorry for the delay but this has been fixed with version 2.4.0. Please let me know if there are any other issues

[2020-11-28 01:34] #110 closed

[2020-11-28 01:34] jhartwell commented on #109
@dimitarvp sorry for the long delay but this has been updated with version 2.4.0

[2020-11-28 01:34] #109 closed

[2020-11-28 01:36] jhartwell commented on #112
@DEvil0000 The primary key issue and the missing `use Mix.Config` issues have been fixed.

@9to1url the issue with smallint has been fixed as well.

Both those fixes are in version 2.4.0. Please let me know if you have any other issues.

[2020-11-28 01:36] #112 closed

[2021-07-01 17:10] akosasante opened #117 "Postgres DDL Schemas"
Is it possible to pass a schema/prefix to the library if my Postgres tables are in a schema different from the default 'public' one? For ecto itself, I'm able to do this by setting a prefix, following the instructions in the [Ecto docs](https://hexdocs.pm/ecto/multi-tenancy-with-query-prefixes.html#content):

[code]

But not sure how to do something similar with Plsm.

[2021-08-12 07:39] tomjoro commented on #117
I have a fork that will do this.  It's not too difficult in my fork.

1. You specify schemas in configuration file like this:

[code]

And then it generates the schema by and adds the Ecto prefix for them like this (note the @schema_prefix):

[code]

I'm still working on the changes. I was going to change the Module name so that it is namespaced as well because you might have same table name in mu

[2021-08-13 05:51] tomjoro commented on #104
I have traced the issue and have a fix for it (I can make a pull request). The issue is caused by this left join:
[code]
This causes two effects:

1. Compound primary keys don't work
2. If the field is repeated in another index you will get a row for both primary_key: true and primary_key: false (which now generates the field twice).

The solution I have is just to query the primary key(s) in anot

[2021-08-21 10:33] msp opened #119 "Port needs to be an integer"
I saw this connecting to MySQL:

[code]

Fixed my updating port in the config:

`port: "3306",`

to

`port: 3306,`

I guess the config generator needs to be updated.

[2021-08-21 10:38] msp opened #120 "MySQL mediumtext"
I got a runtime error that I tracked down to a table with MySQL `mediumtext` columns. I got past it by deleting the table as I didn't need in for my new PG DB.

The `type` was coming through into here as `:none`

https://github.com/jhartwell/Plsm/blob/master/lib/io/export.ex#L6

Which then failed to match any of the `map_type` signatures:

https://github.com/jhartwell/Plsm/blob/master/lib/io/expor

[2021-08-21 10:39] msp commented on #120
* plsm 2.4.0 (https://github.com/jhartwell/Plsm.git) (mix)
  locked at f1ee062
  ok

[2021-08-21 10:39] msp commented on #119
* plsm 2.4.0 (https://github.com/jhartwell/Plsm.git) (mix)
  locked at f1ee062
  ok

[2021-10-27 15:51] trans opened #121 "No function clause matching in Plsm.IO.Export.map_type for :none"
Tried to run Plsm on the Fishbowl inventory system MySQL database.

[code]

Any ideas?

Here's my version info.

[code]

[2021-10-27 20:34] trans commented on #120
Ah... this is probably the problem I'm having too in #121

Guessing an entry just needs to be made [here](https://github.com/jhartwell/Plsm/blob/f1ee0629527a73fadc42e4845a8f41f4d8331776/lib/database/mysql.ex#L78).

[2021-11-02 00:54] cubytz opened #123 "Hex dependency resolution failed"
Hello, thank you for the great on this project.

I'm trying to use it in a project, but it throws dependency errors:

When using `{:plsm, "~> 2.3.2"}`

[code]

When using `{:plsm, "~> 2.4"}`

[code]

I'm a noob in elixir and phoenix. Any help would be appreciated!

[2021-11-15 08:56] guglielmobartelloni commented on #123
I ecountered the same problem and resolved it by changing the versione from 2.3.2 to 2.4.0

[2021-12-01 08:11] cubytz commented on #123
@morphingSamurai Thank you for the feedback. I tried but still not working.

[2022-02-15 00:22] chavenor opened #126 "Postgres Mix plsm Output Error Geo Fields?"
I'm not sure how to fix this.  It seems like there isn't a pattern match for a boolean field.

I'm using Postgres 13.x and have PostGIS enabled.  Will it work for geo fields?

[code]

[2022-02-15 09:51] tomjoro commented on #126
Use the latest from GitHub. It has support for Boolean and it works.
I see the change here (from 2020):
https://github.com/jhartwell/Plsm/commit/cd9b14b72ad28897da677053e1de2c0862fae165

I don't think geo fields are supported - others were asking for it.

[2022-10-23 13:39] kavitama commented on #123
Still the same problem few years later, does it mean this project has been abandoned ?

[2022-10-23 13:46] guglielmobartelloni commented on #123
Sadly I think so. The last commit is from a year ago

[2022-10-25 15:15] jhartwell commented on #123
Sorry, I have been busy with family and have been sort of burned out so I don't spend much (if any time) after work on any sort of projects. I am also not really using/playing with Elixir anymore which makes it harder to get back into this. Perhaps I may get back into it but no guarantees.